<!--
layout: default
title: Blog!
-->

{% assign paginator = site.posts | paginate:2 %}

{% for post in paginator.posts %}
  {% include post_item.html %}
{% endfor %}

Current page: {{ paginator.page }}
Total posts: {{ paginator.total_posts }}
Total pages: {{ paginator.total_pages }}

{% if paginator.previous_page %}
<p>
    <a href="/blog{{ paginator.previous_page_path }}">Previous</a>
</p>
{% endif %}

{% if paginator.next_page %}
<p>
    <a href="/blog{{ paginator.next_page_path }}">Next</a>
</p>
{% endif %}