<ul>
    <li>
        <h4>Guides</h4>

        <ul>
            <li><a href="/docs/">Welcome to AppVeyor</a></li>
            <li><a href="/docs/getting-started-with-appveyor-for-linux">Getting started for Linux</a></li>
        </ul>
    </li>
    <li>
        <h4>Reference</h4>

        <ul>
            <li><a href="/docs/build-environment/">Build environment</a></li>
            <li>
                <ul>
                    <li><a href="/docs/windows-images-software/">Windows images software</a></li>
                    <li><a href="/docs/linux-images-software/">Linux images software</a></li>
                    <li><a href="/docs/macos-images-software/">macOS images software</a></li>
                    <li><a href="/updates/">Image updates</a></li>
                    <li><a href="/docs/custom-build-images/">Custom build images</a></li>
                </ul>
            </li>
            <li><a href="/docs/build-configuration/">Build configuration</a></li>
            <li><a href="/docs/branches/">Branches and tags</a></li>
            <li><a href="/docs/build-phase/">Build phase</a></li>
            <li><a href="/docs/running-tests/">Running tests</a></li>
            <li><a href="/docs/parallel-testing/">Parallel testing</a></li>
            <li><a href="/docs/job-workflows/">Job workflows</a></li>
            <li><a href="/docs/packaging-artifacts/">Packaging artifacts</a></li>
            <li><a href="/docs/nuget/">NuGet</a></li>
            <li><a href="/docs/notifications/">Notifications</a></li>
            <li><a href="/docs/environment-variables/">Environment variables</a></li>
            <li><a href="/docs/build-cache/">Build cache</a></li>
            <li><a href="/docs/services-databases/">Services and databases</a></li>
            <li><a href="/docs/status-badges/">Status badges</a></li>
            <li><a href="/docs/team-setup/">Set up your team</a></li>
            <li><a href="/docs/appveyor-yml/">appveyor.yml reference</a></li>
            <li><a href="/docs/global-yml/">Global YAML</a></li>
            <li><a href="/docs/api/">AppVeyor REST API</a></li>
            <li><a href="/docs/build-worker-api/">Build Worker API</a></li>
        </ul>
    </li>
    <li>
        <h4>Deployment</h4>

        <ul>
            <li><a href="/docs/deployment/">Overview</a></li>
            <li><a href="/docs/deployment/web-deploy/">Web Deploy</a></li>
            <li><a href="/docs/deployment/ftp/">FTP, SFTP</a></li>
            <li><a href="/docs/deployment/sql-database-ssdt/">SQL Databases (SSDT)</a></li>
            <li><a href="/docs/deployment/azure-webjob/">Azure WebJob</a></li>
            <li><a href="/docs/deployment/azure-app-service-zip-push-deploy/">Azure App Service Zip</a></li>
            <li><a href="/docs/deployment/azure-blob/">Azure Blob</a></li>
            <li><a href="/docs/deployment/azure-cloud-service-extended-support/">Azure Cloud Service (extended support)</a></li>
            <li><a href="/docs/deployment/azure-cloud-service/">Azure Cloud Service (classic)</a></li>
            <li><a href="/docs/deployment/amazon-s3/">Amazon S3</a></li>
            <li><a href="/docs/deployment/amazon-elastic-beanstalk/">Amazon Elastic Beanstalk</a></li>
	    <li><a href="/docs/deployment/octopus-deploy/">Octopus Deploy</a></li>
            <li><a href="/docs/deployment/nuget/">NuGet</a></li>
            <li><a href="/docs/deployment/agent/">Deployment Agent</a></li>
            <li><a href="/docs/deployment/github/">GitHub Releases</a></li>
            <li><a href="/docs/deployment/bintray/">Bintray</a></li>
            <li><a href="/docs/deployment/webhook/">Webhook</a></li>
            <li><a href="/docs/deployment/environment/">Environment</a></li>
            <li><a href="/docs/deployment/local/">Local deployment</a></li>
        </ul>
    </li>
    <li>
        <h4>Stacks</h4>

        <ul>
            <li><a href="/docs/lang/nodejs-iojs/">Node.js and io.js</a></li>
            <li><a href="/docs/lang/xamarin/">Xamarin</a></li>
            <li><a href="/docs/lang/python/">Python</a></li>
            <li><a href="/docs/lang/ruby/">Ruby</a></li>
            <li><a href="/docs/lang/cpp/">C++</a></li>
            <li><a href="/docs/lang/go/">Go</a></li>
        </ul>
    </li>
    <li>
        <h4>Bring Your Own Cloud</h4>

        <ul>
            <li><a href="/docs/byoc/">Overview</a></li>
            <li><a href="/docs/byoc/windows/">Windows</a></li>
            <li><a href="/docs/byoc/linux/">Linux</a></li>
            <li><a href="/docs/byoc/mac/">Mac</a></li>
            <li><a href="/docs/byoc/docker/">Docker</a></li>
            <li><a href="/docs/byoc/azure/">Azure</a></li>
            <li><a href="/docs/byoc/aws/">AWS</a></li>
            <li><a href="/docs/byoc/gce/">GCE</a></li>
            <li><a href="/docs/byoc/hyper-v/">Hyper-V</a></li>
            <li><a href="/docs/byoc/parallels-desktop/">Parallels Desktop</a></li>
        </ul>
    </li>    
    <li>
        <h4>AppVeyor Server</h4>

        <ul>
            <li><a href="/docs/server/">Getting started</a></li>
            <li><a href="/docs/server/maintenance/">Maintenance</a></li>
            <li><a href="/releases/">Releases</a></li>
        </ul>
    </li>
    <li>
        <h4>Misc</h4>

        <ul>
            <li><a href="/docs/how-to/selenium-testing/">Selenium testing</a></li>
            <li><a href="/docs/how-to/filtering-commits/">Filtering commits</a></li>
            <li><a href="/docs/how-to/download-file/">Download file</a></li>
            <li><a href="/docs/how-to/repository-shallow-clone/">Repository shallow clone</a></li>
            <li><a href="/docs/how-to/private-git-sub-modules/">Private Git sub-modules</a></li>
            <li><a href="/docs/how-to/git-push/">Git push from build</a></li>
            <li><a href="/docs/how-to/rdp-to-build-worker/">RDP to build worker</a></li>
            <li><a href="/docs/how-to/ssh-to-build-worker/">SSH to build worker</a></li>
            <li><a href="/docs/how-to/vnc-to-build-worker/">VNC to build worker</a></li>
            <li><a href="/docs/how-to/secure-files/">Secure files</a></li>
        </ul>
    </li>
</ul>
