    <div class="footer-container">
        <div class="row footer">
            <div class="columns medium-10">
                <ul>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/pricing/">Pricing</a></li>
                    <li><a href="/docs/">Documentation</a></li>
                    <li><a href="http://help.appveyor.com/discussions" target="_blank">Support</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/terms-of-service/">Terms of service</a></li>
                    <li><a href="/privacy-policy/">Privacy policy</a></li>
                    <li><a href="/eula/">EULA</a></li>
                    <li><a href="/feed.xml">RSS Feed</a></li>
                </ul>
            </div>
            <div class="columns medium-2 medium-text-right">
                <ul>
                    <li><a href="https://appveyor.statuspage.io" target="_blank">Status</a></li>
                    <li><a href="https://twitter.com/appveyor" class="twitter" target="_blank">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script async src="/assets/js/pack.js"></script>
    <script async src="/assets/js/jquery-pack.js"></script>

</body>
</html>
