version: 1.0.{build}

clone_depth: 10

# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true

environment:
  matrix:
    - ruby_folder_version: "24"
      platform: "x86"

init:
  - ps: if ($env:appveyor_repo_branch -ne 'master') { $env:non_master = 'true' }

install:
  - SET "PATH=C:\Ruby%ruby_folder_version%\bin;%PATH%"
  - bundle install --retry 3 --jobs=%NUMBER_OF_PROCESSORS% --clean --path vendor\bundle
  - ps: Install-Product node "8" $env:platform
  - npm install

build: off

test_script:
  - ruby -v
  - gem -v
  - bundle -v
  - node -v
  - npm -v
  - java -version
  - npm test

matrix:
  fast_finish: true

cache:
  - 'node_modules -> appveyor.yml,package.json,package-lock.json'
  - 'vendor -> appveyor.yml,Gemfile,Gemfile.lock'

deploy:

  - provider: WebDeploy
    server: https://appveyor-staging.scm.azurewebsites.net:443/MsDeploy.axd?site=appveyor-staging
    website: appveyor-staging
    username: $appveyor-staging
    password:
      secure: rblAkMA2sadykufv7pJYJacKbluycPc5xkhTP3E5J8KkXrjvV0gQQ9SF0IXvuLfZVQv6IBHrFIAbmmIA72mhJg==
    remove_files: true
    do_not_use_checksum: false
    skip_dirs: '\\Downloads;\\App_Data'
    on:
      branch: staging

  - provider: WebDeploy
    server: https://appveyor.scm.azurewebsites.net:443/MsDeploy.axd?site=appveyor
    website: appveyor
    username: $appveyor
    password:
      secure: pL+ugVnAjgM8JxucKetLmTuqS+ikdzREwXXamzn0+jbuxT7+/DjyX/lTVgOr6Qh7nmlE61mFlDb+cLipnWiamw==
    remove_files: true
    do_not_use_checksum: false
    skip_dirs: '\\Downloads;\\App_Data'
    on:
      branch: master

artifacts:
  - path: _site/
    name: site
