.edit-page-invitation {
    margin: 1.5rem 0;
    padding: 0.7rem;
    font-size: 0.8rem;
    color: #887766;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #FCF5E0;
}

iframe {
    border: 0;
}
