/* banner */
.home-banner {
    text-align: center;
    background-color: #0B99D6;
}

.home-banner h1 {
    font: 600 2.3rem/1.4 "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 1.5rem 0 0;
}

.home-banner h2 {
    font: normal 1.1rem/1.4 "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

.home-banner .buttons {
    margin: 1.5rem 0 0 0;
}

.home-banner .buttons .big-button {
    margin-bottom: 0.4rem;
    background-color: #18C718;
}

.home-banner .buttons .big-button:hover,
.home-banner .buttons .big-button:active {
    background-color: #1ED11E;
}

.home-banner .disclosure {
    font-size: 0.75rem;
    color: #e0e0e0;
    margin: 0;
}

.home-banner img {
    margin-top: 1.2rem;
}

.big-button.get-started {
    line-height: 45px;
    font-size: 1.0rem;
    background-color: #3EB33E;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.big-button.get-started:hover,
.big-button.get-started:active {
    background-color: #62C462;
}

/* Features and benefits */
.features-container {
    background-color: #3B3333;
}

.features h2 {
    margin: 0.7rem 0;
    text-align: center;
    font-family: "Segoe UI Light", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
    color: #fff;
}

.feature {
    margin-top: 1rem;
}

.feature h3 {
    text-align: center;
    font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: #fff;
    margin: 0.7rem 0 0.5rem 0;
}

.feature p {
    font-family: "Open Sans", "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    color: #e0e0e0;
    margin: 0.5rem 0 2rem 0;
    line-height: 1.3rem;
}

.home-sprite {
    background-image: url("/site/images/home/home-sprite-new.png");
    -webkit-background-size: 234px 78px;
    -moz-background-size: 234px 78px;
    background-size: 234px 78px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

.home-sprite.no-setup {
    background-position: 0 0;
    width: 78px;
    height: 78px;
}

.home-sprite.secure {
    background-position: -78px 0;
    width: 78px;
    height: 78px;
}

.home-sprite.delivery {
    background-position: -156px 0;
    width: 78px;
    height: 78px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.0),
 only screen and (min--moz-device-pixel-ratio: 2.0),
 only screen and (-o-min-device-pixel-ratio: 200/100),
 only screen and (min-device-pixel-ratio: 2.0) {
    .home-sprite {
        background-image: url("/site/images/home/home-sprite-new@2x.png");
        -webkit-background-size: 468px 156px;
        -moz-background-size: 468px 156px;
        background-size: 468px 156px;
    }
}

/* Small screens only*/
@media only screen and (max-width: 40em) {
    .home-banner h1 {
        font-size: 1.8rem;
    }
    .home-banner h2 {
        font-size: 1.1rem;
    }

    .features h2 {
        font-size: 1.4rem;
    }
}



/* Testimonials */
.testimonials {
    text-align: center;
}
