.pricing-banner {
    background: #F7EDE6;
    padding-bottom: 1rem;
}

.plans {
    /*margin-top: 1rem;*/
}

.pricing-table {
    border: solid 1px #999;
    border-radius: 3px;
}

.pricing-table .price {
    font-family: 'Segoe UI', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.pricing-table .price span {
    font-size: 1rem;
}

.pricing-table .price.annual {
    padding: 0 0 1rem 0;
    font-size: 0.9rem;
    color: #888;
}

.pricing-table .price.annual span {
    font-size: 0.7rem;
}

.pricing-table .price.basic {
    padding: 1.9rem 0;
}

.pricing-table .title {
    color: #fff;
    font-family: 'Segoe UI', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.0rem;
    background-color: #999;
    padding: 0;
    line-height: 2rem;
}

    .pricing-table .bullet-item {
        padding: 0;
        line-height: 2.5rem;
    }

    .pricing-table .cta-button {
        padding: 1rem 0;
    }

    .pricing-table .cta-button .button {
        margin: 0;
        background-color: #3EB33E;
        border-color: #3EB33E;
    }

    .pricing-table .cta-button .button:hover,
    .pricing-table .cta-button .button:active
    {
        background: #62C462;
    }

.pricing-table.popular {
    margin-top: -10px;
    border: solid 2px #0b99d6;
}

.pricing-table.popular .title {
    font-size: 1.2rem;
    background-color: #0b99d6;
}

.pricing-table.popular .title span {
    font-size: 0.7rem;
    position: absolute;
    top: -5px;
    right: 25px;
}

    .pricing-table.popular .cta-button {
        padding: 1.5rem 0;
    }