.learn-more .step {
    background-color: #fff;
    padding: 0;
}

.learn-more .screenshot {
    text-align: left;
    position: relative;
    background-color: #fff;
    margin: 10px 0 0 0;
}

    .learn-more .note {
        color: #777;
        background-color: #f7f7f7;
        padding: 1px 20px;
    }

.learn-more img {
    margin: 10px 0 10px 40px;
}