.edit-page-invitation {
    margin: 1.5rem 0;
    padding: 0.7rem;
    font-size: 0.8rem;
    color: #887766;
    text-align: center;
    border-radius: 3px;
    background-color: #fcf5e0;
}

iframe {
    border: 0;
}

ul > li > p {
    margin: 0;
}


/* anchor.js override */
@media (max-width: 640px) {
  .anchorjs-link {
    display: none;
  }
}
