/* banner */
.home-banner {
    text-align: center;
    background-color: #0b99d6;
}

.home-banner h1 {
    font: 600 2.3rem/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 1.5rem 0 0;
}

.home-banner h2 {
    font: normal 1.1rem/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

.home-banner .buttons {
    margin: 1.5rem 0 0 0;
}

.home-banner .buttons .big-button {
    margin-bottom: 0.4rem;
    background-color: #18c718;
}

.home-banner .buttons .big-button:hover,
.home-banner .buttons .big-button:active {
    background-color: #1ed11e;
}

.home-banner .disclosure {
    font-size: 0.75rem;
    color: #e0e0e0;
    margin: 0;
}

.home-banner img {
    margin-top: 1.2rem;
    margin-bottom: 1px;
}


/* Features and benefits */
.features-container {
    background-color: #3b3333;
}

.features h2 {
    margin: 0.7rem 0;
    text-align: center;
    font-family: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
    color: #fff;
}

.feature {
    margin-top: 1rem;
}

.feature h3 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: #fff;
    margin: 0.7rem 0 0.5rem 0;
}

.feature p {
    font-family: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    color: #e0e0e0;
    margin: 0.5rem 0 2rem 0;
    line-height: 1.3rem;
}

.home-sprite {
    background-image: url("../images/home/home-sprite.png");
    -webkit-background-size: 234px 78px;
    -moz-background-size: 234px 78px;
    background-size: 234px 78px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

/*.home-sprite*/.no-setup {
    background-position: 0 0;
    width: 78px;
    height: 78px;
}

/*.home-sprite*/.secure {
    background-position: -78px 0;
    width: 78px;
    height: 78px;
}

/*.home-sprite*/.delivery {
    background-position: -156px 0;
    width: 78px;
    height: 78px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0) {
    .home-sprite {
        background-image: url("../images/home/home-sprite@2x.png");
        -webkit-background-size: 234px 78px;
        -moz-background-size: 234px 78px;
        background-size: 234px 78px;
    }
}

/* Small screens only*/
@media only screen and (max-width: 40em) {
    .home-banner h1 {
        font-size: 1.8rem;
    }

    .home-banner h2 {
        font-size: 1.1rem;
    }

    .features h2 {
        font-size: 1.4rem;
    }
}

/* Customers block */
.customers-container {
    margin-bottom: 1rem;
    text-align: center;
}

.customers-container h2 {
    margin: 0.7rem 0;
    font-family: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
}

.customer-logo {
    background: url("/assets/images/home/new-sprite-flattened.png") no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin: 0.7rem 1rem;
}

.microsoft {
    background-position: 0 -26px;
    width: 150px;
    height: 32px;
}

.facebook {
    background-position: -172px -7px;
    width: 50px;
    height: 50px;
}

.google {
    background-position: -244px -10px;
    width: 49px;
    height: 50px;
}

.github {
    background-position: -310px -5px;
    width: 58px;
    height: 58px;
}

.rackspace {
    background-position: -383px -23px;
    width: 139px;
    height: 37px;
}

.telenor {
    background-position: -25px -76px;
    width: 108px;
    height: 40px;
}

.nasa {
    background-position: -149px -73px;
    width: 69px;
    height: 57px;
}

.zendesk {
    background-position:-227px -80px;
    width: 151px;
    height: 35px;
}

.pivotal {
    background-position: -393px -86px;
    width: 115px;
    height: 27px;
}

.umbraco {
    background-position: -42px -135px;
    width: 148px;
    height: 45px;
}

.rightscale {
    background-position: -212px -142px;
    width: 198px;
    height: 25px;
}

.chef {
    background-position: -433px -127px;
    width: 60px;
    height: 64px;
}

.mozilla {
    background-position: -33px -189px;
    width: 178px;
    height: 48px;
}

.puppet {
    background-position: -229px -196px;
    width: 121px;
    height: 36px;
}

.stanford {
    background-position: -373px -200px;
    width: 142px;
    height: 30px;
}

/* Benefits block */
.benefits-container {
    border-top: solid 1px #e6e6e6;
}

.benefits-container h2 {
    margin: 0.7rem 0;
    text-align: center;
    font-family: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
}

.benefits-table .row:first-child .columns {
    border-top: 1px solid #e6e3e0;
}

.benefits-table .columns {
    line-height: 2.7rem;
    border-bottom: 1px solid #e6e3e0;
    border-top: none;
    font-size: 1.0rem;
}

.benefits-table .yes {
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAeCAYAAABAFGxuAAABl0lEQVR4AcXXM4MdcRRA8Wli27Zt26xemtjuki7p8llSx2li2zbWNu+ebnUf7l1M8atG52H+CEQkNMGl4BTOqsdCjDoGgeB0+GEgZD8qITWcDDWMgB2ogNRRiYOhhPHgCMohOoIJ94f5oragDBJHOSLNFbUOJZAEnW+OqBUoMkRdRMtoN5uJyY0QtRD5hqjraK3+xwKCkIkUjBV/1GzkGqJuoq36VnJgHNIgEPzHCEfUNGQZou6hvTqOcWAUkpSLfmOIIWoi0g1RT9FZHfk5MAR/IBp8x4AEosYgxRD1Ct3Ue3FgAL5D4viMPjGiRuCfIeo9eka9HwdvGW72Fj2UqMH4DVEYPyTg+fpfoGuNqH74BlG4/xbeP+xjdEJvfITo/C9SQ1/xt5BYvEOPY1B0cAzW2tu1CAWQRpLhmd4cE69JNmbYogDDUsUsD3PtUYBhcWdSgMW+KMC/HI6uCCv9UYB/A6ErwXpbhM635dKVYasjQmVdZx2HKMqxzRehc23rlS3XLn+EzrtsPqNtUkMJU+LO4aThGpMqN0XAINsxTDIAAAAASUVORK5CYII=") no-repeat right 50% / 19px 15px;
}

.benefits-table .no {
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAA8UlEQVR4Ae3YCQrDIBBGYW+VExmapXfPCWKFdtiFFx4QSwR+dmc+EMYllVK6zIA9DJbSVJN1w5TmmgnBIOqoOWsWgVp/NQ6Co6jyTeAuo/aaM+oQHEdBHEAhHEI1cOt1FMdhVAO3UxTHtWE5ClKcQEWNTLdyuYoTqAVspcPVvC0qQmcPauRQHBa4jTZ0KA7zODEDxfSWKA7zODqQPczjArXF+ofButxKjuK4fsYFx3mUx/3rkeQP8RdYIw9x08Dj6EWRFxa4WVytEYrjwNWa4jiK4wJ1x/MtcBylH7wC10bZLwKBC1RXnyo5UON/bMDuzgdywHfVD58EpgAAAABJRU5ErkJggg==") no-repeat right 50% / 19px 19px;
}


/* Testimonials */
.testimonials {
    margin-top: 16px;
    text-align: center;
}
