/* software list table */

table.software-list {
    width: 100%;
}

table.software-list td.yes {
    width: 5%;
}

table.software-list td.yes::after {
    background-color: #00aa01;
    border-radius: 50%;
    content: '';
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 10px;
}

table.software-list td.no {
    background-color: transparent;
    width: 5%;
}

th.rotate {
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform: translate(0, 51px) rotate(270deg);
    width: 30px;
}

th.rotate > div > span {
    padding: 0 5px;
}

th.section {
    background-color: #eee;
}

th.section h2,
th.section h3 {
    margin: 0;
    color: #222;
    font-size: 0.875rem;
    font-weight: bold;
    font-family: inherit;
}

table.software-list td > ul {
    margin-bottom: 0;
    list-style: none;
    margin-left: 0;
}
