.on-premise a.big-button {
    color: #e8e8e8;
    background-color: #5445de;
}

.on-premise a.big-button:hover,
.on-premise a.big-button:active {
    background-color: #5445de;
    color: #fff;
}

.on-premise .pricing-table .cta-button .button {
    background-color: #5445de;
    border-color: #5445de;
    color: #e8e8e8;
}

.on-premise .pricing-table .cta-button .button:hover,
.on-premise .pricing-table .cta-button .button:active {
    background-color: #5445de;
    border-color: #5445de;
    color: #fff;
}

.downloads h1 {
    margin-top: 0;
}

.downloads .platform {
    padding-top: 5rem;
    text-align: center;
}

.downloads .platform.windows {
    background: transparent url("/assets/img/on-premise/windows-logo.png") no-repeat center 0 / 50px 50px;
}

.downloads .platform.linux {
    background: transparent url("/assets/img/on-premise/linux-logo.png") no-repeat center 0 / 50px 58px;
}

.downloads .platform.mac {
    background: transparent url("/assets/img/on-premise/mac-logo.png") no-repeat center 0 / 50px 61px;
}

.downloads .button {
    background-color: #5445de;
    border-color: #5445de;
    color: #fff;
    font-size: 1.1rem;
}

.downloads ul {
    list-style: none;
    margin-left: 0;
    font-size: 0.75rem;
}