.pricing-banner {
    background-color: #666361;
    padding-bottom: 1rem;
}

.pricing-banner h1,
.pricing-banner .title h2 {
    color: #fff;
}

.plans-group h2 {
    text-align: center;
    background-color: #706E6A;
    text-transform: uppercase;
    color: #aaa;
    line-height: 2.2rem;
    font-size: 0.9rem;
    border-radius: 2px;
}

.pricing-table {
    border: solid 1px #eee;
    border-radius: 2px;
}

.pricing-table.popular {
    /* margin-top: -10px;
    border: solid 1px #eee; */
}

.pricing-table .price {
    font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.3rem;
}

.pricing-table .price span {
    font-size: 1rem;
}

.pricing-table .price.annual {
    padding: 0 0 1rem 0;
    font-size: 0.9rem;
    color: #888;
}

.pricing-table .price.annual span {
    font-size: 0.7rem;
}

.pricing-table .price.basic {
    padding: 1.9rem 0;
}

.pricing-table .title {
    color: #fff;
    font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.0rem;
    background-color: #999;
    padding: 0;
    line-height: 2rem;
}

.pricing-table.popular .title {
    /* font-size: 1.2rem; */
    background-color: #0098DA;
}

.pricing-table.premium .title {
    background-color: #666;
}

.pricing-table .bullet-item {
    padding: 0;
    line-height: 2.5rem;
}

.pricing-table .cta-button {
    padding: 1rem 0;
}

.pricing-table .cta-button .button {
    margin: 0;
    background-color: #5FC953;
    border-color: #5FC953;
    text-transform: uppercase;
    padding: 0.7rem 1rem;
    color: #003333;
    font-weight: 600;    
}

.pricing-table .cta-button .button:hover,
.pricing-table .cta-button .button:active {
    background-color: #68E85A;
    border-color: #68E85A;
    color: #003333;
}
