{% include header.html %}

<div class="row">
    <div class="sidebar columns medium-3">
        <div class="sidebar-content">
            {% include docs_sidebar.html %}
        </div>
    </div>
    <div class="columns medium-9">

        <div class="docs-content">
            {{ content }}
        </div>

        <div class="edit-page-invitation">
            Did you know that you can <a href="{{ site.github_repo_root }}/{{ page.path | replace:'\\', '/' }}" target="_blank">edit this page on GitHub</a> and send us a Pull Request?
        </div>

    </div>
</div>

{% include footer.html %}
