    <div class="footer-container">
        <div class="row footer">
            <div class="columns medium-10">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/docs">Documentation</a></li>
                    <li><a href="http://help.appveyor.com/discussions" target="_blank">Support</a></li>
                    <li><a href="/blog" target="_blank">Blog</a></li>
                    <li><a href="/terms-of-service">Terms of service</a></li>
                    <li><a href="/privacy-policy">Privacy policy</a></li>
                    <li><a href="/eula">EULA</a></li>
                </ul>
            </div>
            <div class="columns medium-2 text-right">
                <a href="https://twitter.com/appveyor" class="twitter">Twitter</a>
            </div>
        </div>
    </div>

    {{ site.bundles.js }}

    {% if site.is_mobile_safari %}
        <script>
        $(function () {
            $('body').scrollTop(1);
        });
        </script>
    {% endif %}

    <script>
        $(document).foundation();
        {% if page.layout == 'docs' %}
        addAnchors('.docs-content h2, .docs-content h3, .docs-content h4, .docs-content h5, .docs-content h6');
        {% endif %}
    </script>
</body>
</html>
