<!--
layout: one-column
title: Blog
-->

{% assign paginator = site.posts | paginate:5 %}

{% for post in paginator.posts %}
  {% include post_item.html %}
{% endfor %}

<div class="row">
    <div class="columns small-6">
        {% if paginator.next_page %}
        <a href="/blog{{ paginator.next_page_path }}">&larr; Older</a>
        {% endif %}
    </div>
    <div class="columns small-6 text-right">
        {% if paginator.previous_page %}
        <a href="/blog{{ paginator.previous_page_path }}">Newer &rarr;</a>
        {% endif %}
    </div>
</div>