.edit-page-invitation {
    margin: 1.5rem 0;
    padding: 0.7rem;
    font-size: 0.8rem;
    color: #887766;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fcf5e0;
}

iframe {
    border: 0;
}

.docs-content h2[id]:before,
.docs-content h3[id]:before,
.docs-content h4[id]:before,
.docs-content h5[id]:before,
.docs-content h6[id]:before {
    content: " ";
    display: block;
    height: 45px;
    margin-top: -45px;
    visibility: hidden;
}


/* anchor.js overrides */

@media (max-width: 640px) {
  .anchorjs-link {
    display: none;
  }
}
