---
layout: one-column
title: AppVeyor Platform Updates
---

{% assign posts = site.updates | sort:"date" | reverse %}
{% for post in posts %}
    <h1 class="blog-post-title">
        <a href="{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a>
    </h1>

    <div class="post-index-content">
        {{ post.content }}
    </div>
{% endfor %}

<div class="row">
    <div class="columns small-6">
        {% if paginator.next_page %}
        <a href="/updates{{ paginator.next_page_path }}">&larr; Older</a>
        {% endif %}
    </div>
    <div class="columns small-6 text-right">
        {% if paginator.previous_page %}
        <a href="/updates{{ paginator.previous_page_path }}">Newer &rarr;</a>
        {% endif %}
    </div>
</div>
