<!--
layout: one-column
title: Newsletter archive
-->

<h1>Newsletter archive</h1>

{% assign paginator = site.newsletters | paginate:10 %}

{% for post in paginator.posts %}
  {% include newsletter_item.html %}
{% endfor %}

<div class="row">
    <div class="columns small-6">
        {% if paginator.next_page %}
        <a href="/newsletters{{ paginator.next_page_path }}">&larr; Older</a>
        {% endif %}
    </div>
    <div class="columns small-6">
        {% if paginator.previous_page %}
        <a href="/newsletters{{ paginator.previous_page_path }}">Newer &rarr;</a>
        {% endif %}
    </div>
</div>