html {
  background: #fff; 
}

body {
    background: transparent;
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.page-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* for mobile screens */
@media only screen and (max-width: 40em) {
    .left {
        float: none!important;
    }
    .right {
        float: none!important;
    }
}

/* footer
----------------------------------------------------------*/
.footer-container {
    background: #fff;
    padding-top: 2rem;
}

.footer {
    border-top: solid 1px #eee;
}

    .footer .columns {
        margin-bottom: 1rem;
        padding-top: 0.5rem;
        font-size: 0.75rem;
    }

    .footer ul {
        font-size: 0.75rem;
    }

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .footer ul li {
        display: inline-block;
        margin: 0 1rem 0 0;
        padding: 0;
    }

    .footer a,
    .footer a:link,
    .footer a:hover,
    .footer a:active,
    .footer a:visited {
        color: #777;
    }

.copyright {
    padding-right: 10px;
}

.twitter
{
    display: inline-block;
    padding-left: 23px!important;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAYAAAC9QufkAAABB0lEQVR4AZXOMSiEcRzH4YcuYbzCdGWRUpYbDHKURSmLUgZlkd2CwWBQVhNZGKSUKFlkuOFSlMugRBThLAySRRR+K6/r8ql3+z3f/5vKbd3VoLEwmCmRrHv7fghzaEYRk0jjOYVeLMRRfwxc/4I92EA1oBMHOMNUYLVoxUkcT2MlRt4BowJKVo+rwPJ4QgOWMBsjOzhEi79bjAcuA8viCAOAJoyLT/keIbAb9PlfxwSO52/jN8ewjDqVuwhzTmBAHkXkVG4eCAyx9BCvF9CFKuXbw9oPDDEwEwO72ERGsiJG4u4LCBygA+3IYhhpAMAnVjER8BWAwDhFGzJ4wwdeUMI+1gPFTbJv45RQVTVst3YAAAAASUVORK5CYII=') no-repeat 4px 50%;  
}

/* articles */
div.title {
    text-align: center;
}

div.title h2 {
    margin: 20px 0 30px 0;
    font-size: 17px;
    font-weight: normal;
    color: #777;
}


/* legal */

.legal ul { padding-left: 0; } /* 1st level */
.legal ul ul { padding-left: 25px; } /* 2nd, 3rd levels */

.legal li
{
	list-style: none;
	margin-top: 0.5em;
    background: none;
}

.legal h2,
.legal h3
{
    text-transform: uppercase;
}

/* misc */
.disqus {
    margin-top: 1.5rem;
}