p {
    font-size: 0.9rem;
    margin: 1rem 0;
}

ul, ol, dl {
    font-size: 0.9rem;
}

a {
    color: #00aad7;
    text-decoration: none;
    line-height: inherit;
}

    a:hover, a:focus {
        color: #00C7F4;
    }

    a img {
        border: none;
    }

strong, b {
    font-weight: inherit;
}

strong, b {
    font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Mobile screen (default) */
h1 {
    font-family: "Segoe UI Light", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 2.0rem;
    color: #666;
    margin: 1rem 0;
}

h2 {
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    color: #333;
    margin: 1rem 0;
}

h3 {
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    color: #555;
    margin: 1rem 0;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

code, pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 0.8rem;
    font-weight: normal;
}

blockquote {
    margin: 1rem 0;
    padding: 0 1rem;
}

p.quotation {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: #666;
}

code {
    color: #c7254e;
}

pre {
    padding: 0.5rem 0.5rem;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 2px;
    overflow-x: auto;
    white-space: pre;
    line-height: 1rem;
}

pre > code {
    padding: 0;
    color: inherit;
    border: none;
    background-color: transparent;
}

.no-wrap {
    white-space: nowrap;
}

li ul li {
    font-size: 0.8rem;
}

/* Medium and larger screens */
@media only screen and (min-width: 40.063em) {
    /*h1 {
        font-size: 1.6rem;
        color: #555;
    }

    h2 {
        font-size: 2.3125rem;
    }

    h3 {
        font-size: 1.6875rem;
    }

    h4 {
        font-size: 1.4375rem;
    }*/
}
