table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #ccc;
}

td, th {
    padding: 0.5rem;
}

th {
    background-color: #f5f5f5;
}

table.centered td,
table.centered th {
    text-align: center;
}

table.no-borders,
table.no-borders td,
table.no-borders th {
    border: none;
}

table tr th, table tr td {
    font-size: inherit; /* fixes gist issue */
}

table tbody tr td,
table tr td {
    line-height: inherit; /* fixes gist issue */
}

.gist .gist-data {
    overflow: inherit;
}


.pricing-post-table tbody > tr > td:nth-child(even) {
    padding: 10px;
}

.pricing-post-table tbody > tr > td:nth-child(odd) {
    padding: 11px;
}
