body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 45px;
}

@media only screen and (max-width: 40em) {
    .top-bar.expanded {
        margin-top: -45px;
    }
}

.page-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* footer
----------------------------------------------------------*/
.footer-container {
    background-color: #fff;
    padding-top: 2rem;
}

.footer {
    border-top: solid 1px #eee;
}

.footer .columns {
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    font-size: 0.75rem;
}

.footer ul {
    font-size: 0.75rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    display: inline-block;
    margin: 0 1rem 0 0;
    padding: 0;
}

.footer a,
.footer a:link,
.footer a:hover,
.footer a:active,
.footer a:visited {
    color: #767676;
}

.copyright {
    padding-right: 10px;
}

.twitter-logo {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}


/* articles */
div.title {
    text-align: center;
}

div.title h2 {
    margin: 20px 0 30px 0;
    font-size: 17px;
    font-weight: normal;
    color: #777;
}

.clear-both {
    clear: both;
}

.margin-right {
    margin: 0 3rem 1rem 0;
}

.margin-left {
    margin-left: 2rem;
}


@media (max-width: 40em) {
    .footer ul li {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
