a.big-button {
    display: inline-block;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 42px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    background-color: #00b500;
    margin: 0 5px 1rem 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

a.big-button:hover,
a.big-button:active {
    background-color: #00d600;
    color: #fff;
}

.action-buttons,
.bottom-action-buttons {
    margin: 30px 0 0 0;
    text-align: center;
}

/* Foundation buttons */
button,
.button {
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #00b3e0;
    border: 1px dotted #00b3e0;
    -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    transition: background-color 300ms ease-out, border-color 300ms ease-out;
}

button.secondary,
.button.secondary {
    border-color: #e9e9e9;
}

button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus {
    border-color: gainsboro;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: #3acdf2;
}

button:hover,
.button:hover {
    border-color: #3acdf2;
}

button:focus,
.button:focus {
    border-color: #00b3e0;
}

button.disabled,
button[disabled],
.button.disabled,
.button[disabled],
button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
    background-color: #89dff5;
    border-color: #89dff5;
}

button.large,
.button.large {
    padding: 0.5rem 1.6rem 0.57rem 1.6rem;
    font-size: 1.25rem;
}

button.medium,
.button.medium {
    padding: 0.6rem 1.7rem 0.7rem 1.7rem;
    font-size: 0.8125rem;
}

button.small,
.button.small {
    padding: 0.45rem 1.3rem 0.5rem 1.3rem;
    font-size: 0.8125rem;
}

button.tiny,
.button.tiny {
    padding: 0.4rem 1.0rem 0.4rem 1.0rem;
    font-size: 0.75rem;
}
