/*csslint text-indent:false*/

/* Header */
.top-bar,
.contain-to-grid,
.top-bar-section ul,
.top-bar-section li a:not(.button),
.top-bar-section .dropdown li label {
    background-color: #322525; /* menu section label */
}
.top-bar-section ul li:hover > a,
.top-bar-section li.hover > a:not(.button),
.top-bar-section li a:not(.button):hover,
.no-js .top-bar-section ul li:hover > a,
.no-js .top-bar-section ul li:active > a {
    background-color: #3a2f2f;
}

.top-bar-section .dropdown li label {
    color: #5f5555;
}

/* divider */
.top-bar-section .divider,
.top-bar-section [role="separator"] {
    border-top: solid 1px #423535;
}

/* expanded menu on mobile phone */
.top-bar.expanded .title-area {
    background-color: #3a2f2f;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #322525;
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background-color: #3a2f2f;
}

/* Medium and large screens */
@media only screen and (min-width: 40.063em) {
    .top-bar-section .left {
        margin-left: 18%;
    }
}

/* Top menu items */
.top-bar-section ul li > a {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.70rem;
    text-transform: uppercase;
    color: #e2dddd;
}

/* Dropdown menu items*/
.top-bar-section .dropdown li a {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e2dddd;
    font-size: 0.8rem;
    text-transform: none;
    padding-right: 70px;
}

/* Logo */
.top-bar .name h1 {
    padding: 0 15px;
}
.top-bar .name h1 a {
    background: transparent url("../img/appveyor-navbar.svg") no-repeat 0 50%;
    background-size: 120px 22px;
    display: inline-block;
    width: 120px;
    text-indent: -9999px;
}
