/*csslint text-indent:false*/

/* Header */
.top-bar,
.contain-to-grid,
.top-bar-section ul,
.top-bar-section li a:not(.button),
.top-bar-section .dropdown li label {
    background-color: #322525; /* menu section label */
}
.top-bar-section ul li:hover > a,
.top-bar-section li.hover > a:not(.button),
.top-bar-section li a:not(.button):hover,
.no-js .top-bar-section ul li:hover > a,
.no-js .top-bar-section ul li:active > a {
    background-color: #3a2f2f;
}

.top-bar-section .dropdown li label {
    color: #5f5555;
}

/* divider */
.top-bar-section .divider,
.top-bar-section [role="separator"] {
    border-top: solid 1px #423535;
}

/* expanded menu on mobile phone */
.top-bar.expanded .title-area {
    background-color: #3a2f2f;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #322525;
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background-color: #3a2f2f;
}

/* Medium and large screens */
@media only screen and (min-width: 40.063em) {
    .top-bar-section .left {
        margin-left: 18%;
    }
}

/* Top menu items */
.top-bar-section ul li > a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.70rem;
    text-transform: uppercase;
    color: #e2dddd;
}

/* Dropdown menu items*/
.top-bar-section .dropdown li a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e2dddd;
    font-size: 0.8rem;
    text-transform: none;
    padding-right: 70px;
}

/* Logo */
.top-bar .name h1 {
    padding: 0 15px;
}
.top-bar .name h1 a {
    background: transparent url("../images/logo.png") no-repeat 0 50%;
    -webkit-background-size: 120px 22px;
    -moz-background-size: 120px 22px;
    background-size: 120px 22px;
    display: inline-block;
    width: 120px;
    text-indent: -9999px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.0),
 only screen and (min--moz-device-pixel-ratio: 2.0),
 only screen and (-o-min-device-pixel-ratio: 200/100),
 only screen and (min-device-pixel-ratio: 2.0) {
    .top-bar .name h1 a {
        background: transparent url("../images/logo-2x.png") no-repeat 0 50%;
        -webkit-background-size: 120px 22px;
        -moz-background-size: 120px 22px;
        background-size: 120px 22px;
    }
}


/* Gravatar */
.top-bar-section .active-user img {
    margin: -2px 4px 0 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
