<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.web>
        <httpRuntime enableVersionHeader="false" />
    </system.web>

    <system.webServer>

        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="X-Content-Type-Options" value="nosniff" />
            </customHeaders>
            <redirectHeaders>
                <clear />
            </redirectHeaders>
        </httpProtocol>

        <security>
            <requestFiltering removeServerHeader="true" />
        </security>

        <rewrite>
            <rules>
                <!-- BEGIN rule TAG FOR HTTPS REDIRECT -->
                <rule name="Force HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <!-- END rule TAG FOR HTTPS REDIRECT -->

                <!-- BEGIN rule TAG FOR WWW REDIRECT -->
                <rule name="www redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^appveyor\.com$" />
                    </conditions>
                    <action type="Redirect" url="https://www.{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <!-- END rule TAG FOR WWW REDIRECT -->

                <rule name="Rewrite 2013 blog posts" stopProcessing="true">
                    <match url="^2013/([0-9]{2})/([0-9]{2})/([_0-9a-z-]+)" />
                    <action type="Redirect" url="/blog/2013/{R:1}/{R:2}/{R:3}/" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 1 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/02/19/appveyor-20-dedicated-build-vms-parallel-testing-nuget-deployment" />
                    <action type="Redirect" url="/blog/2014/02/19/appveyor-20-dedicated-build-vms-parallel-testing-nuget-deployment/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 2 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/02/21/nuget-support-in-appveyor-ci" />
                    <action type="Redirect" url="/blog/2014/02/21/nuget-support-in-appveyor-ci/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 3 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/02/23/converting-mercurial-repository-to-git-on-windows" />
                    <action type="Redirect" url="/blog/2014/02/23/converting-mercurial-repository-to-git-on-windows/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 4 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/03/18/about-nuget-package-restore" />
                    <action type="Redirect" url="/blog/2014/03/18/about-nuget-package-restore/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 5 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/03/25/continuous-delivery-of-windows-azure-cloud-services-with-appveyor-ci" />
                    <action type="Redirect" url="/blog/2014/03/25/continuous-delivery-of-windows-azure-cloud-services-with-appveyor-ci/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 6 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/03/26/appveyor-20-goes-live-with-a-new-pricing" />
                    <action type="Redirect" url="/blog/2014/03/26/appveyor-20-goes-live-with-a-new-pricing/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 7 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/03/31/web-deploy-parametrization-in-appveyor-ci" />
                    <action type="Redirect" url="/blog/2014/03/31/web-deploy-parametrization-in-appveyor-ci/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 8 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/04/23/build-worker-improvements" />
                    <action type="Redirect" url="/blog/2014/04/23/build-worker-improvements/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 9 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/06/04/shallow-clone-for-git-repositories" />
                    <action type="Redirect" url="/blog/2014/06/04/shallow-clone-for-git-repositories/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 10 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/07/23/appveyor-yml-and-multiple-branches" />
                    <action type="Redirect" url="/blog/2014/07/23/appveyor-yml-and-multiple-branches/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 11 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/11/06/appveyor-with-a-hint-of-chocolatey" />
                    <action type="Redirect" url="/blog/2014/11/06/appveyor-with-a-hint-of-chocolatey/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect 2014 12 blog post" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="2014/11/13/appveyor-premium-build-environment-and-new-pricing" />
                    <action type="Redirect" url="/blog/2014/11/13/appveyor-premium-build-environment-and-new-pricing/" redirectType="Permanent" />
                </rule>

                <rule name="Rewrite favicon.ico for old browsers" stopProcessing="true">
                    <match url="^favicon.ico$" />
                    <action type="Redirect" url="/assets/img/favicons/favicon.ico" appendQueryString="true" redirectType="Permanent" />
                </rule>

            </rules>

            <outboundRules>
                <rule name="Add Strict-Transport-Security when using HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <!--<action type="Rewrite" value="max-age=31536000; includeSubdomains" />-->
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
                <rule name="Set X-Frame-Options header for HTML files only">
                    <match serverVariable="RESPONSE_X_Frame_Options" pattern=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="\.html$" />
                    </conditions>
                    <action type="Rewrite" value="DENY" />
                </rule>
                <rule name="Set X-XSS-Protection header for HTML files only">
                    <match serverVariable="RESPONSE_X_XSS_Protection" pattern=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="\.html$" />
                    </conditions>
                    <action type="Rewrite" value="1; mode=block" />
                </rule>
                <rule name="Set CSP header for HTML files only">
                    <match serverVariable="RESPONSE_Content-Security-Policy" pattern=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="\.html$" />
                    </conditions>
                    <action type="Rewrite" value="default-src 'none'; script-src 'self' www.google-analytics.com; style-src 'self' 'unsafe-inline' fonts.googleapis.com; img-src 'self' data: www.google-analytics.com ci.appveyor.com; font-src 'self' data: fonts.gstatic.com; frame-src 'self' www.slideshare.net www.youtube.com; child-src 'self' www.slideshare.net www.youtube.com; manifest-src 'self'; report-uri https://d063bdf998559129f041de1efd2b41a5.report-uri.io/r/default/csp/enforce" />
                </rule>
                <rule name="Set X-UA-Compatible header for HTML files only">
                    <match serverVariable="RESPONSE_X_UA_Compatible" pattern=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="\.html$" />
                    </conditions>
                    <action type="Rewrite" value="IE=edge" />
                </rule>
                <rule name="Set Cache-Control:max-age=3600 for HTML files only">
                    <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="\.html$" />
                    </conditions>
                    <action type="Rewrite" value="max-age=3600" />
                </rule>
            </outboundRules>
        </rewrite>

        <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" />
            <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
        </httpErrors>

        <urlCompression doDynamicCompression="true" doStaticCompression="true" />

        <staticContent>
            <clientCache setEtag="false" />

            <remove fileExtension=".css" />
            <remove fileExtension=".eot" />
            <remove fileExtension=".html" />
            <remove fileExtension=".ico" />
            <remove fileExtension=".js" />
            <remove fileExtension=".json" />
            <remove fileExtension=".otf" />
            <remove fileExtension=".svg" />
            <remove fileExtension=".ttc" />
            <remove fileExtension=".ttf" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".xml" />
            <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
            <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
            <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
            <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
            <mimeMap fileExtension=".otf" mimeType="font/opentype" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".xml" mimeType="application/xml; charset=utf-8" />
        </staticContent>

    </system.webServer>
</configuration>
